{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="justificado">
	<ul class="list-unstyled">
		<div class="primeiro">
		  <li class="media">
		    <img src="{% static 'img/mao.png' %}" class="mr-3" alt="...">
		    <div class="media-body">
		    	<br /><br /><br />
		      <h1 class="d-flex justify-content-start">O Smartcon</h1>
		      <p class="lead">É uma ferramenta desenvolvida para facilitar o uso dos Smart Contracts (Contratos Inteligentes). Baseada na proposta do Ethereum, esta plataforma facilita o uso dos contratos e transferência de valores de forma fácil e objetiva.
		      Com ela você poderá criar e seus próprios contratos, Interagir com eles,também poderá criar tokens ERC-20 e fazer transferências dos memos asimm como administrar carteiras Ethereum</p>
		    </div>
		  </li>
		  <li class="media">
		  	<div class="media-dois ">
		  			<img src="{% static 'img/eth.png' %}" >
		  			<img src="{% static 'img/bit.png' %}" >
			</div>
		  </li>
		  <li class="media">
		  	<div class="media-body">
		  		<h5 class="mt-0 mb-1">Tecnologia Bitcoin</h5>
		  	<img src="{% static 'img/bitcoin.png' %}" class="mr-4" alt="...">
		  		<p class="lead">
		  		O Bitcoin inovou com a criação da Blackchain e introduziu em sua tecnologia um Script que permite a execução automática de um pequeno acordo entre duas partes para a transferência de valores, ou seja um contrato eletrônico que é chamado atualmente de Smart Contract.
			  		A solução que o Bitcoin deu para o problema da programação do contrato foi simplesmente não ser Turing-complete. Isso facilita a análise dos contratos, pois os possíveis estados do programa são limitados e facil de enumerar e examinar.
			  	</p>
			</div>
		  </li>
		  <li class="media">
		    <img src="{% static 'img/ethereum.png' %}" class="mr-4" alt="...">
		    <div class="media-body">

				<h5 class="mt-0 mb-1">O blockchain ethereum </h5>
				<p class="lead">A estrutura do blockchain do ethereum é muito similar à do bitcoin, na 	medida em que é um registro compartilhado de todo o histórico de transações. Todos os nós da rede armazenam uma cópia desse histórico.</p>
		  		<p class="lead">A grande diferença da solução do Ethereum é colocar códigos de programação para contratos inteligentes.<br> Cabendo aos programadores certificar-se que o contrato faz o que se pretende.</p>
		  		<p class="lead"> Essa então é a proposta do Smartcoin, assumir quase que por completo a programação dos Contratos Inteligentes</p.>
		    </div>
		  </li>
	  	</div>
	  	<div id="segundo" class="segundo">
		  	<li class="chain">
		  		<h1 class="display-4">Olá, Blockchain!</h1>
		  		<div class="row">
			  		<div class="chainum col-md">
			  			
			  		</div>
			  		
			  		<div class="chaindois col-md">
			  			 		  		
			  		</div>
			  		
			  		<div class="chaintres col-md">
			  		 	
			  		</div>
			  		
		  		</div>
		  		<div class="row">
		  			<div class="col-md">Distribuída</div>
		  			<div class="col-md">Segura	</div>
		  			<div class="col-md">Revolucionária</div>
		  		</div>

		  	</li>
	  	</div>
	  	<div class="primeiro">
		  <li class="media">
		  	<div class="media-body">
		  		<img src="{% static 'img/eu.jpeg' %}" class="mr-4" alt="...">
		      <h5 class="mt-0 mb-1">Smart Contracts, ICOs e Consórcios</h5>
		      <p class="lead">No universo do Blockchain, “Contratos Inteligentes” possuem características para serem executados ou não, porém isto não é decidido por uma terceira parte confiável. O próprio contrato, após programado, executa as cláusulas uma vez que seus pré-requisitos são alcançados.</p>
		      Smartcon por Ricardo Martins, CEO da empresa Servipec Informática, formando em Ciência da Computação na Universidade Luterana do Brasil, 
			</div>
		  </li>
		</div>
	</ul>	
</div>
{% endblock %}