{% extends "base.html" %} 
{% block content %}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'sis:painel' %}">Meu Painel</a></li>
            <li>&nbsp; / &nbsp;</li>
            {% endblock %}
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="col-md-10">
            {% block menu_options %}
                <ul class="breadcrumb">Minhas Contas de Clientes</ul>
                <ul>
                    {% for cli in cliente %}
                   <li><a href="{% url 'cli:cliente_mostrar' cli.pk %}">
                        <i class="fa fa-address-book"></i>
                        {{ cli.name }}
                        </a>
                     {% empty %}
                     <p>Nenhuma conta</p>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="breadcrumb">Meus Contratos</ul>
                <ul>
                    {% for con in contrato %}
                   <li><a href="{% url 'cli:cliente_mostrar' cli.pk %}">
                        <i class="fa fa-address-book"></i>
                        {{ con.name }}
                        </a>
                     {% empty %}
                     <p>Nenhum contrato</p>
                    </li>
                    {% endfor %}
                </ul> 
                <ul class="breadcrumb">Minha Conta de Usuario</ul>
                <ul>
                    <li><a href="{% url 'usuario:editar' %}">
                        <i class="fa fa-cog"></i>
                        Editar Conta
                        </a>
                    </li>
                    <li><a href="{% url 'usuario:editar_senha' %}">
                        <i class="fa fa-lock"></i>
                        Editar Senha
                        </a>
                    </li>
                    <li><a href="{% url 'usuario:usuario_apagar' user.pk %}">
                        <i class="fa fa-lock"></i>
                        Excluir Conta
                        </a>
                    </li>
                </ul> 
            {% endblock %}      	
        </div>
    </div>
    <div class="col-sm-8 float-right">
        {% block dash_content %}
    	<div class="inner">
            <h2>Meus Contratos</h2>
            {% for enrollment in enrollments %}
            <div class="well">
                <h3>{{ enrollment.course }} ({{ enrollment.course.start_date|date:'d/m/Y'|default:'Sem data' }})
                </h3>   
                {{ enrollment.course.description|linebreaks }}
                <div >
                    <a href="#" >Acessar</a>
                    <a href="#" >Cancelar</a>
                </div>
            </div>

            {% empty %}             
                <p>Nenhum contrato encontrado</p>
            {% endfor %}
        </div>               
        {% endblock %}
    </div>
</div>
{% endblock %}