{% extends "base.html" %}
{% block content %}

<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
    	{% if success %}
    		<p>Senha criada com sucesso</p>
    	{% else %}
        <h2>Informe sua nova senha</h2>
        <form class="pure-form pure-form-aligned" method="POST">
        	{% csrf_token %}
        	<fieldset>
      		  	{{ form.non_field_errors }}
      		  	{% for field in form %}
      		  	<div class="pure-control-group">
      		  		{{ field.label_tag }}
      		  		{{ field }}
      		  		{{ field.errors }}
      		  	</div>
      		  	{% endfor %}
      		  	<div class="pure-controls">
      		  		<button type="submit" class="pure-button pure-button-primary">
      		  			Criar nova senha
      		  		</button>
      		  	</div>
        	</fieldset>
        </form>    
        {% endif %}    
    </div>
</div>
{% endblock %}