{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="account-wall col">
        <h2 class="text-center">Informe seus dados</h2>
        <form class="form-signin text-center" method="POST">
        	{% csrf_token %}
        	<fieldset class="resset">
                <div class="erro_login">
        		  	{{ form.non_field_errors }}
                </div>
        		  	{% for field in form %}
        		<dir class="geral_lin">
                    <div class="geral_label" >
    		  	      {{ field.label_tag }}
                    </div>
                    <div class="geral_field">
    		  		  {{ field }}
                    </div>
                </dir>
                <div class="erro_login">
        		  	  {{ field.errors }}
                </div>	
        		  	{% endfor %}
    		  	<div class="login">
                    <br>
    		  		<button onclick="Enviar()" class="btn btn-lg btn-secondary">
    		  			Cadastrar
    		  		</button>
                    <a href="{% url 'sis:login' %}">
                        <button type="button"  class="btn btn-lg btn-danger">
                            Cancelar
                        </button>
                    </a>
    		  	</div>       
        	</fieldset>
        </form>        
    </div>
    <br>
</div>
{% endblock %}