{% extends "painel.html" %}
{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'usuario:editar_senha' %}">Editar Senha</a></li>
{% endblock %}
{% block dash_content  %}

<form class="form-signin text-center" method="POST">
	{% csrf_token %}
	{% if success %}
	<p style="color:green">A sua senha foi auterada com sucesso</p>
	{% endif %}
	<fieldset>
		<div class="account-wall col">
			<div class="erro_login">
		  		{{ form.non_field_errors }}
		  	</div>
		  		{% for field in form %}
		  	<div class="control-group">
		  		{{ field.label_tag }}<br />
		  		{{ field }}
		  	</div>
		  	<div class="erro_login">
		  		{{ field.errors }}
		  	</div>
		  	{% endfor %}
		  	<div class="">
		  		<button type="submit" class="btn btn-lg btn-secondary">
		  			Alterar Senha
		  		</button>
		  	</div>
		</div>
	</fieldset>
</form>        
{% endblock %}