{% extends "painel.html" %}
{% block breadcrumb %}
{{ block.super }}
<li><a href="#">Editar Senha</a></li>
{% endblock %}
{% block dash_content  %}
<div class="container" >
    <div class="account-wall col" >
        <h2 class="text-center">Editando senha</h2>
		<form class="form-signin text-center" method="POST">
			{% csrf_token %}
			{% if success %}
                <div class="text-success">
                    <h5>A sua senha foi auterada com sucesso<</h5>
                </div>
			{% endif %}
			<fieldset class="resset">
				<div class="erro_login">
			  		{{ form.non_field_errors }}
			  	</div>
			  		{% for field in form %}
			  	<div class="geral_lin">
                    <div class="geral_label">
			  			{{ field.label_tag }}
			  		</div>
                    <div class="geral_field">
			  			{{ field }}
			  		</div>
			  	</div>
			  	<div class="erro_login">
			  			{{ field.errors }}
			  	</div>
					{% endfor %}
				<br>
			  	<div class="text-center">
			  		<button type="submit" class="btn btn-lg btn-secondary">
			  			Alterar Senha
			  		</button>
                    <a href="{% url 'sis:painel' %}">
                        <button type="button"  class="btn btn-lg btn-danger">
                            Cancelar
                        </button>
                    </a>
			  	</div>
			</fieldset>
		</form> 
	</div>
</div>       
{% endblock %}