@charset "UTF-8";

body {
    background-image: url("../img/contract.jpg");
    background-position: center;
    background-size:cover;
    margin: 0 auto 0 auto;
    padding:0;
}

.moldeura {
    padding:10;
}
.mr-3 {
	float: left;
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;

}
.mr-4 {
	float: right;
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}

.painel-editar-texto{
	padding-left: 150px;
}

.painel-editar {
	width: 420px;
	float: right;
}
.resset {
	width: 480px;
}

.login button{
	width: 120px;
}
.control-cadastro input{
	width: 320px;
	float: left;
}
.cliente_field{
    text-align: left;
}
.cliente_field label{
    float: left;
    width: 70px;
}
.contrato_field{
    text-align: left;
}
.contrato_field label{
    float: left;
    width: 70px;
}
.contrato_field select{
    width: 212px;

}
.mainbody {
    background-color: white;
    width:1050px;
    height: auto;
    min-height: 520px;
    margin: 0 auto 0 auto;
    padding: 25px;
    opacity: 0.93;
}
.mainbody img{
    opacity: 1;
}
.justificado {
	font-size: 20;
	text-align: justify;
}

.footerline {
	width:1050px;
    margin: 0 auto 0 auto;
    padding:0;
	text-align: center;
}
/* Personal css */
.form-signin
{
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
}
.account-wall
{
    margin-top: 10px;
    padding: 20px 0px 20px 0px;
    background-color: white;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow:0px 2px 6px gray;
}
.login-title
{
    color: #E0EEEE;
    font-size: 72px;
    font-weight: 400;
    display: block;
    text-shadow: 1px 2px 6px gray;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.need-col
{
    margin-top: 40px;
}
.content-login{
  margin-top: 70px;
}
.centro {
    position:fixed;
    top:25%;
    left:5%;
}

.erro_login {
	color: red;
}