{% extends "cliente.html" %}

{% block dash_content  %}
<div class="carteira container">
    <div class="account-wall col">
        <h2 class="text-center">Carteira</h2>
        <form class="form-signin text-center" method="POST">
            {% csrf_token %}
            {% if success %}
                <div class="text-success">
                    <h5> Dados alterados com sucesso</h5>
                </div>
            {% endif %}
            <fieldset class="resset" >
              <div class="erro_login">
                    {{ form.non_field_errors }}
              </div>
                    {% for field in form %}
                    <div class="carteira_field">
                        {{ field.label_tag }}
                    </div>
                    <div class="carteira_field">
                        {{ field }}
                    </div>
                <div class="erro_login">
                        {{ field.errors }}
                </div>
                    {% endfor %}
                    {% if form.field is not empty %}
                    <br />
                    <div class="text-center login">
                        <button  class="btn btn-lg btn-secondary">
                            Fechar
                        </button>
                    </div>
                    {% else %}
                    <br />
                    <div class="text-center login">
                        <a href="{% url 'cli:cliente' %}">
                        <button type="button"  class="btn btn-lg btn-danger">
                            Cancela
                        </button></a>
                        <button  class="btn btn-lg btn-primary">
                            Salvar
                        </button>
                    </div>                 
                    {% endif %}
            </fieldset>
        </form>  

    </div>
    <br>
</div>
{% endblock %}