{% extends "cliente.html" %}
{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'usuario:editar_senha' %}">Criar Conta</a></li>
{% endblock %}
{% block dash_content  %}
<div class="container">
    <div class="account-wall col">
        <h2 class="text-center">Dados do Cliente</h2>
        <form class="form-signin text-center" method="POST">
            {% csrf_token %}
            {% if success %}
                <div class="text-success">
                    <h5> Dados alterados com sucesso</h5>
                </div>
            {% endif %}
            <fieldset>
            <div class="float-sm-center">
              <div class="erro_login">
                    {{ form.non_field_errors }}
              </div>
                    {% for field in form %}
                    <div class="control-group ">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                <div class="erro_login">
                        {{ field.errors }}
                </div>
                    {% endfor %}
                    <br />
                    <div class="text-center">
                        <button class="btn btn-lg btn-secondary">
                            Fechar
                        </button>
                    </div>
            </div>
            </fieldset>
        </form>        
    </div>
    <br>
</div>
{% endblock %}