{% extends "painel.html" %}

{% block dash_content  %}
<div class="container">
    <div class="account-wall col">
        <h2 class="text-center">Editando os dados do Cliente</h2>
        {% if success %}
        <div class="text-success text-center">
            <h5> Dados alterados com sucesso</h5>
        </div>
        {% endif %}
        <form class="form-signin text-center" method="POST">
            {% csrf_token %}
            <fieldset class="resset">
            <div class="float-sm-center">
                <div class="erro_login">
                    {{ form.non_field_errors }}
                </div>
                    {% for field in form %}
                <div class="control-group ">
                        {{ field.label_tag }}
                        {{ field }}
                </div>
                <div class="erro_login">
                        {{ field.errors }}
                </div>
                    {% endfor %}
                    <br />
                <div class="text-center">
                    <button onclick="Enviar()" class="btn btn-lg btn-secondary">
                        Cadastrar
                    </button>
                    <a href="{% url 'cli:cliente' %}">
                    <button type="button"  class="btn btn-lg btn-danger">
                        Cancelar
                    </button>
                    </a>
                </div>
            </div>
            </fieldset>
        </form>        
    </div>
    <br>
</div>
{% endblock %}