{% extends "base.html" %} 
{% block content %}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'cli:cliente' %}">Painel Clientes</a></li>
            <li>&nbsp; / &nbsp;</li>
            {% endblock %}
        </ul>
    </div>
	<div class="col-sm-4">
        <div class="col-md-10">
            {% block menu_options %}
            <ul class="breadcrumb">Contas de Clientes</ul>
            <ul>
               <li><a href="{% url 'cli:cliente' %}">
                    <i class="fa fa-address-book"></i>
                    Listar Clientes
                    </a></li>
               <li><a href="{% url 'cli:cliente-novo' %}">
                    <i class="fa fa-lock"></i>
                    Novo Cliente
                    </a>
                </li>
            </ul>
            {% endblock %}
        </div>
    </div>
    <div class="col-sm-8 float-right">
	{% block dash_content %}
	<div class="inner">
	    <h2>Meus Clientes</h2>
            <div class="well">       
                <table class="table">
                    <thead class="thead-light">
                      <th>Nome</th>
                      <th >CPF</th>
                      <th > </th>
                      <th > </th>
                    </thead>
                    {% for cliente in clientes %} 
                    <thead>
                      <th><a href="{% url 'cli:cliente_mostrar' cliente.pk  %}">{{ cliente.name }}</a></th>
                      <th>{{ cliente.cpf }}</th>
                      <th><a href="{% url 'cli:cliente_editar' cliente.pk %}">
                        <i class="fa fa-cog"></i>
                        Edita
                        </a>
                    </th>
                    <th><a href="{% url 'cli:cliente-novo' %}">
                    <i class="fa fa-lock"></i>
                    Excluir
                    </a>
                    </th>
                    {% empty %}             
                    <p>Nenhum cliente encontrado</p>
                    {% endfor %} 
                    </thead>
                </table>
              
	        </div>


	 	{% endblock %}
	</div>
</div>
{% endblock %}