{% extends "painel.html" %}
{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'contas:editar_senha' %}">Editar Senha</a></li>
{% endblock %}
{% block dash_content  %}

<form class="pure-form pure-form-aligned" method="POST">
	{% csrf_token %}
	{% if success %}
	<p>A sua senha foi auterada com sucesso</p>
	{% endif %}
	<fieldset>
		  	{{ form.non_field_errors }}
		  	{% for field in form %}
		  	<div class="pure-control-group">
		  		{{ field.label_tag }}
		  		{{ field }}
		  		{{ field.errors }}
		  	</div>
		  	{% endfor %}
		  	<div class="pure-controls">
		  		<button type="submit" class="pure-button pure-button-primary">
		  			Alterar Senha
		  		</button>
		  	</div>
	</fieldset>
</form>        
{% endblock %}