{% extends "contrato.html" %} 

{% block dash_content %}
<div class="inner">
   <h2>Meus Contratos</h2>
    <form class="" method="POST">
        {% csrf_token %}
        <input name="pescli" type="">
      
        <button method="POST" class="btn btn-primary"> 
        Pesquizar</button>
    </form>
        <div class="well">       
            <table class="table">
                <thead class="thead-light">
                  <th ></th>
                  <th >Nome</th>
                  <th >Cliente</th>
                  <th ></th>
                  <th ></th>
                  <th ></th>
                  <th ></th>
                </thead>
                 {% for con in contrato %}
                <thead>
                  <th>
                    <div class="{% if con.ativo %}led-green{% else %}led-red{% endif %}"></div></th>
                  <th >   
                    <a href="{% url 'con:intercon' con.id %}">{{ con.name }}</a></th>
                  <th><input style="border:0;" type="" class="id_con" value="{{ con.id_cliente.name }}"></th>
                  <th ><a href="{% url 'con:valrecibo' con.id %}">
                    <i class="fa fa-dice-six"></i>
                        Recibo
                    </a></th>
                  <th ><a href="{% url 'con:pubcon' con.id %}">
                    <i class="fa fa-book"></i>
                        Publicar
                    </a></th>
                  <th><a href="{% url 'con:edicon' con.id %}">
                    <i class="fa fa-cog"></i>
                        Editar
                    </a>
                </th>
                <th><a onclick = "if (! confirm('Excluir Contrato ?')) { return false; }"class="confirmation" href="{% url 'con:delcon' con.id %}">
                    <i class="fa fa-times-circle"></i>
                        Excluir
                    </a>
                </th>
                </thead>
                {% empty %} 
                <thead>            
                <th><p>Nenhum contrato encontrado</p></th>
                {% endfor %} 
                </thead>
            </table>              
       </div>
</div>         
{% endblock %}
