{% extends "contrato.html" %}
{% load static %}
{% block dash_content  %}
<div class="container" >
    <div class="account-wall col" >
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'img/eth.png' %}">
            </div>
            <div class="col-sm-6">
                <h1 class="text-center">Criação de Token</h1>
            </div>
            <div class="col-sm"></div>
        </div>
        <h2 class="text-center">Informe os dados do Contrato</h2>
        <form class="form-signin text-center" method="POST">
        	{% csrf_token %}
        	<fieldset class="resset" >
                <div class="erro_login">
        		  	{{ form.non_field_errors }}
                </div>
        		  	{% for field in form %}
                <div class="geral_lin">
        		  	<div class="car_label" >
        		  		{{ field.label_tag }}
                    </div>
                    <div class="car_field">
        		  		{{ field }}
                        {% if field.html_name == 'id_cliente' %}
                    </div></div>
                        <div class="geral_lin">
                            <div class="car_field">
                             <select  name="id_car" onchange="javascript:ver();" required id="id_car"> 
                             <option value="" selected>---------</option>
                            {% for car in carteira %}
                              <option value="{{ car.public_key }}" value1="{{ car.private_key }}" value2="{{ car.id_cliente.id }}">{{ car.name }}</option>
                            {% endfor %}
                            </select>
                        {% endif %}

                    </div>
                </div>
                <div class="erro_login">
    		  		{{ field.errors }}
                </div>
        		  	{% endfor %}
    		  	<div>

            <div class="token" >
                <div >
                    <h2 class="text-center" style="color: black">Dados do Token</h2>
                </div>
                <div class="geral_lin">
                    <div class="car_label" >
                        <label>Nome</label>
                    </div>
                    <div class="car_field">
                        <input type="text" name="token" placeholder="Ex: MeuToken">
                    </div>
                </div>
                <div class="geral_lin">
                    <div class="car_label">
                        <label>Simbolo</label>
                    </div>
                    <div class="car_field">
                        <input type="text" name="simbolo" placeholder="Ex: mtk">
                    </div>
                </div>
                <div class="geral_lin">
                    <div class="car_label" >
                        <label>Quantidade</label>
                    </div>
                    <div class="car_field">
                        <input type="text" name="qtde" placeholder="Ex: 100000">
                    </div>
                </div>
                <div class="geral_lin">
                    <div class="car_label">
                        <label>Digitos</label>
                    </div>
                    <div class="car_field">
                        <input type="text" name="digitos" value="18">
                    </div>
                </div>
                <div ><br><br>
    		  		<button class="btn btn-lg btn-secondary">
    		  			Cadastrar
    		  		</button>
                    <a href="{% url 'con:contrato' %}">
                        <button type="button"  class="btn btn-lg btn-danger">
                            Cancelar
                        </button>
                    </a>
    		  	</div>
            </div>
        	</fieldset>
        </form>        
    </div>
    <br>
</div>
{% endblock %}