{% extends "contrato.html" %}
{% block dash_content  %}
<div class="container">
    <div class="account-wall col">
        <h2 class="text-center">Dados do Contrato</h2>
        <form class="form-signin text-center" method="POST">
            {% csrf_token %}
            {% if success %}
                <div class="text-success">
                    <h5> Dados alterados com sucesso</h5>
                </div>
            {% endif %}
            <fieldset class="resset" >
                <div class="erro_login">
                    {{ form.non_field_errors }}
                </div>
                        {% for field in form %}
                <dir class="geral_lin">
                    <div class="con_label" >
                            {{ field.label_tag }}
                    </div>
                    <div class="con_field">
                            {{ field }}
                    </div>
                </dir>
                <div class="erro_login">
                        {{ field.errors }}
                </div>
                        {% endfor %}
                <br />
                <div class="text-center login">
                    <button  class="btn btn-lg btn-secondary">
                            Fechar
                    </button>
                </div>
            </fieldset>
        </form>  
    </div>
    <br>
</div>
{% endblock %}