{% extends "contrato.html" %}
{% block dash_content  %}
<div class="container" >
    <div class="account-wall col" >
        <h2 class="text-center">Informe os dados do Contrato</h2>
        <form class="form-signin text-center" method="POST">
        	{% csrf_token %}
        	<fieldset class="resset" >
                <div class="erro_login">
        		  	{{ form.non_field_errors }}
                </div>
        		  	{% for field in form %}
                <dir class="geral_lin">
        		  	<div class="car_label" >
        		  		{{ field.label_tag }}
                    </div>
                    <div class="car_field">
        		  		{{ field }}
                        {% if field.html_name == 'id_cliente' %}
                    </div></dir>
                        <dir class="geral_lin">
                            <div class="car_field">
                             <select  name="id_car" onchange="javascript:ver();" required id="id_car"> 
                             <option value="" selected>---------</option>
                            {% for car in carteira %}
                              <option value="{{ car.public_key}}" value2="{{ car.id_cliente.id }}">{{ car.name }}</option>
                            {% endfor %}
                            </select>
                        {% endif %}

                    </div>
                </dir>
                <div class="erro_login">
    		  		{{ field.errors }}
                </div>
        		  	{% endfor %}
                    
        		  	<div >
        		  		<button class="btn btn-lg btn-secondary">
        		  			Cadastrar
        		  		</button>
                        <a href="{% url 'con:contrato' %}">
                            <button type="button"  class="btn btn-lg btn-danger">
                                Cancelar
                            </button>
                        </a>
        		  	</div>

        	</fieldset>
        </form>        
    </div>
    <br>
</div>
{% endblock %}