{% extends "base.html" %} 
{% block content %}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'sis:painel' %}">Meu Painel</a></li>
            <li>&nbsp; / &nbsp;</li>
            {% endblock %}
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="col-md-10">
            {% block menu_options %}
            <ul class="breadcrumb">painel de Contratos</ul>
            <ul>
               <li><a href="#">
                    <i class="fa fa-address-book"></i>
                    Listar Contratos
                    </a></li>
               <li><a href="{% url 'con:contrato_novo' %}">
                    <i class="fa fa-lock"></i>
                    Novo Cliente
                    </a>
                </li>
            </ul>
            <ul class="breadcrumb">Minhas Contas de Clientes</ul>
            <ul>
                {% for cli in cliente %}
               <li><a href="{% url 'cli:cliente_mostrar' cli.pk %}">
                    <i class="fa fa-address-book"></i>
                    {{ cli.name }}
                    </a>
                 {% empty %}
                 <p>Nenhuma conta</p>
                </li>
                {% endfor %}
            </ul>
            <ul class="breadcrumb">Meus Contratos</ul>
            <ul>
                {% for con in contrato %}
               <li><a href="{% url 'cli:cliente_mostrar' cli.pk %}">
                    <i class="fa fa-address-book"></i>
                    {{ con.name }}
                    </a>
                 {% empty %}
                 <p>Nenhum contrato</p>
                </li>
                {% endfor %}
            </ul> 
            <ul class="breadcrumb">Minha Conta de Usuario</ul>
            <ul>
                <li class="text-success">Ultimo IP {{ user.ip_last }}</li>
            </ul> 
            {% endblock %}          
        </div>
    </div>
    <div class="col-sm-8 float-right">
       {% block dash_content %}
       <div class="inner">
           <h2>Meus Contratos</h2>
            <form class="" method="POST">
                {% csrf_token %}
                <input name="pescli" type=""></th>
              
                <button method="POST" class="btn btn-primary"> 
                Pesquizar</button>
            </form>
                <div class="well">       
                    <table class="table">
                        <thead class="thead-light">
                          <th >Nome</th>
                          <th ></th>
                          <th ></th>
                          <th ></th>
                        </thead>
                        {% for cliente in clientes %} 
                        <thead>
                          <th><a href="{% url 'cli:cliente_mostrar' cliente.pk  %}">{{ cliente.name }}</a></th>
                          <th><input style="border:0;" type="" class="id_cpf" value="{{ cliente.cpf }}"></th>
                          <th><a href="{% url 'cli:cliente_editar' cliente.pk %}">
                            <i class="fa fa-cog"></i>
                            Editar
                            </a>
                        </th>
                        <th><a onclick = "if (! confirm('Excluir Cliente ?')) { return false; }"class="confirmation" href="{% url 'cli:cliente_apagar' cliente.pk %}">
                        <i class="fa fa-lock"></i>
                        Excluir
                        </a>
                        </th>
                        </thead>
                        {% empty %} 
                        <thead>            
                        <th><p>Nenhum cliente encontrado</p></th>
                        {% endfor %} 
                        </thead>
                    </table>              
               </div>
        </div>         
        {% endblock %}
    </div>
</div>
{% endblock %}